.section {
  height: 100vh;
  background-color: rgb(210, 211, 224);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* justify-content: center; */
}
.divlargeur {
  width: 95%;
}
header {
  background-color: brown;
  height: 70px;
  width: 100%;
  border-radius: 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: rgb(26, 156, 26);
  width: 100%;
  height: 35px;
  margin-top: 12px;
  border-radius: 5px;
}
.margindiv {
  margin-top: 12px;
}
.disposition {
  display: flex;
  justify-content: space-between;
}
aside {
  background-color: rgb(116, 81, 81);
  width: 32%;
  height: 370px;
  border-radius: 5px;
}
main {
  background-color: aquamarine;
  width: 65%;
  height: 370px;
  border-radius: 5px;
}
article {
  width: 90%;
  height: 300px;
  background-color: blanchedalmond;
  border-radius: 12px;
}
.dispositionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure {
  background-color: burlywood;
  width: 90%;
  height: 50%;
  border-radius: 5px;
}
p {
  background-color: chocolate;
  width: 90%;
  height: 50%;
  border-radius: 5px;
}
.sectionDisplay {
  background-color: blue;
  width: 90%;
  height: 35px;
  border-radius: 5px;
}
footer {
  background-color: blueviolet;
  width: 95%;
  height: 80px;
  border-radius: 5px;
  margin-top: 12px;
}
